<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>For top menu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%== page.content[0..90] %></td>
    <td><%= page.for_top_menu %></td>
    <td><%= link_to 'Show', admin_page_path(page) %></td>
    <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
    <td><%= link_to 'Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_admin_page_path %>
