<ul id="product_list" class="bordercolor grid">
  <% @saved_cart_items.each_with_index do |item, i| %>
    <li>
      <div id='image_for_cart'>
        <%= image_tag item.variant.product.featured_image(:original) %>
      </div>
      <div id='name_for_cart'>
        <b>
          <%= link_to item.variant.product_name, product_path(item.variant.product) %>
        </b>
        <%= item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %><br/>
        <%= item.variant.display_stock_status('', '') %>
        <br/>
      </div>
      <div>
        <b class="price"><%= number_to_currency item.price %></b>
      </div><br />
      <div id='remove_<%= i %>_from_cart'>
        <%= link_to 'Move to Cart',
                      move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                            :item_type_id     => ItemType::SHOPPING_CART_ID),
                                                            :method => 'put',
                                                            :class => 'button tiny success' %>

        <%= link_to 'Delete', shopping_cart_item_path(item, :variant_id => item.variant_id),
                                                            :method => :delete,
                                                            :class => 'button tiny alert' %>
      </div>
    </li>
  <% end %>
</ul>