<h1>Listing teckets</h1>

<table>
  <tr>
    <td>Id</td>
    <td>From user</td>
    <td>Title</td>
    <td>Created at</td>
    <td></td>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message[0] %></td>
      <td><%= Ticket.find(message[0]).messages.first.from_user.name %></td>
      <td><%= Ticket.find(message[0]).title %></td>
      <td><%= Ticket.find(message[0]).created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= link_to 'Show', admin_message_path(message[1][0].id, :ticket_id => message[0]), :class => 'button' %></td>
    </tr>
  <% end %>
</table>
