<% @dialog_messages.each do |message| %>
  <strong><%= message.from_user.name %></strong> > <%= message.text %><br />
<% end %><br />

<p>
  <%= form_for [:admin, @new_message] do |f| %>
    <% if @new_message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% @new_message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :from_user_id %>
      <%= f.hidden_field :to_user_id %>
      <%= f.hidden_field :is_read %>
      <%= f.hidden_field :ticket_id %>
    </div>

    <div class="field new_message">
      <%= f.label :text %><br />
      <%= f.text_area :text %>
    </div>
    <div class="actions"><br />
      <%= f.submit "Send Message", :class => 'button' %>
    </div>
  <% end %>
</p><br />

<%= link_to "Back", admin_messages_path, :class => 'button' %>