<link rel="stylesheet" type="text/css" href="/assets/dropdownmenu/pro_dropdown_2.css" />
<script src="/assets/dropdownmenu/stuHover.js" type="text/javascript"></script>
</head>

<body>
<ul id="nav">
  <li class="top"><a href="/" class="top_link"><span>Home</span></a></li>
  <li class="top"><a href="/products?product_type_id=<%= @costumes.id if @costumes %>" class="top_link"><span class="down">Costumes</span></a>
    <%== child_product_types_for @costumes %>
  </li>
  <li class="top"><a href="/products?product_type_id=<%= @clothing.id if @clothing %>" class="top_link"><span class="down">Clothing</span></a>
    <%== child_product_types_for @clothing %>
  </li>
  <li class="top"><a href="/products?product_type_id=<%= @lingerie.id if @lingerie %>" class="top_link"><span class="down">Lingerie</span></a>
    <%== child_product_types_for @lingerie %>
  </li>
  <li class="top"><a href="/products?product_type_id=<%= @shapewear.id if @shapewear%>" class="top_link"><span class="down">Shapewear</span></a>
    <%== child_product_types_for @shapewear %>
  </li>
  <li class="top"><a href="/products?product_type_id=<%= @dance_wear_and_equipment.id if @dance_wear_and_equipment %>" class="top_link"><span class="down">Dance Wear and Equipment</span></a>
    <%== child_product_types_for @dance_wear_and_equipment %>
  </li>
  <li class="top"><a href="/products?product_type_id=<%= @shoes_and_boots.id if @shoes_and_boots %>" class="top_link"><span class="down">Shoes and Boots</span></a>
    <%== child_product_types_for @shoes_and_boots %>
  </li>
</ul>
</body>
</html>
