<script type="text/javascript" src="/assets/maket/modules/tmslider/js/jquery.roundabout.js"></script>
<div id="tmslider">
  <div>
    <ul id="myRoundabout">
      <% @gallery.each do |image| %>
        <li>
          <a href="#">
            <img src="<%= image.photo.url(:large) %>" alt="" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#myRoundabout').roundabout({
      duration:1000,
      autoplayDuration:7000,
      minScale:0.649,
      maxScale:1.0,
      minOpacity:1,
    autoplay:true
    });
  });
</script>
</div>
</header>
<div class="columns clearfix">
  <div id="center_column" class="center_column">
<!-- MODULE Home Featured Products -->
    <div id="featured_products">
      <div class="block_content">
        <h1 if='shopping'>Featured products</h1>
        <ul>
          <% @featured_products.each_with_index do |product, i| %>
            <li>
              <a class="product_image" href="<%= product_path(product.id) %>" title="<%= product.name %>">
                <div id="image-block" class="bordercolor" style="display: table; #position: relative; text-align:center; width: 235px; height: 235px;">
                  <div style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; ">
                    <div style=" #position: relative; #top: -50%; #left: -50%">
                      <img src="<%= product.featured_image(:original) %>" alt="<%= product.name %>" id='welcome_img'/>
                    </div>
                  </div>
                </div>
              </a>
              <h5><a href="<%= product_path(product.id) %>" title="<%= product.name %>" id='product_name'><%= product.name %></a></h5>
              <div id='price_view'>
                <span class="price"><%= number_to_currency product.price_range.last %></span>
                <a href="<%= product_path(product.id) %>" title="View">View</a>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="clearblock"></div>
      </div>
    <div id="latest_products">
      <div class="block_content">
        <h1 if='shopping'>Latest products</h1>
        <ul>
          <% @latest_products.each_with_index do |product, i| %>
            <li>
              <a class="product_image" href="<%= product_path(product.id) %>" title="<%= product.name %>">
                <div id="image-block" class="bordercolor" style="display: table; #position: relative; text-align:center; width: 235px; height: 235px;">
                  <div style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; ">
                    <div style=" #position: relative; #top: -50%; #left: -50%">
                      <img src="<%= product.featured_image(:original) %>" alt="<%= product.name %>" id='welcome_img'/>
                    </div>
                  </div>
                </div>
              </a>
              <h5><a href="<%= product_path(product.id) %>" title="<%= product.name %>" id='product_name'><%= product.name %></a></h5>
              <div id='price_view'>
                <span class="price"><%= number_to_currency product.price_range.last %></span>
                <a href="<%= product_path(product.id) %>" title="View">View</a>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="clearblock"></div>
      </div>
    </div>
        </div>
  </div>
</div>
