<script type="text/javascript" src="/assets/maket/modules/tmslider/js/jquery.roundabout.js"></script>
<div id="tmslider">
  <div>
    <ul id="myRoundabout">
      <% @gallery.each do |image| %>
        <li>
          <a href="#">
            <img src="<%= image.photo.url(:large) %>" alt="" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#myRoundabout').roundabout({
      duration:1000,
      autoplayDuration:7000,
      minScale:0.649,
      maxScale:1.0,
      minOpacity:1,
    autoplay:true
    });
  });
</script>
</div>
</header>
<div class="columns clearfix">
  <div id="center_column" class="center_column">
<!-- MODULE Home Featured Products -->
    <div id="featured_products">
      <div class="block_content">
        <ul>
          <% @featured_products.each_with_index do |product, i| %>
            <li>
              <a class="product_image" href="<%= product_path(product.id) %>" title="<%= product.name %>">
                <img src="<%= product.featured_image(:medium) %>" alt="<%= product.name %>" width="240" height="220"/>
              </a>
              <h5><a href="<%= product_path(product.id) %>" title="<%= product.name %>"><%= product.name %></a></h5>
              <div>
                <span class="price"><%= number_to_currency product.price_range.last %></span>
                <a href="<%= product_path(product.id) %>" title="View">View</a>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="clearblock"></div>
      </div>
    </div>
  </div>
</div>
