</div>
</header>
<div class="columns clearfix">
  <div id="center_column" class="center_column2">
<!-- Breadcrumb -->
    <div class="breadcrumb bgcolor bordercolor">
      <div class="breadcrumb_inner">
        <a href="/" title="return to Home">Home</a>
        <span class="navigation-pipe" >&gt;</span>
        <span class="navigation_page"><%= @page.title %></span>
      </div>
    </div>
<!-- /Breadcrumb -->
    <h1><%= @page.title %></h1><br />
    <p>
      <%== @page.content %>
    </p>
  </div>
  <aside>
    <div id="right_column1" class="column"><!-- MODULE Block specials -->
      <% @featured_products.each do |featured_product| %>
        <div id="specials" class="block">
          <h4><a href="<%= product_path(featured_product) %>" title="Specials">Specials</a></h4>
          <div class="block_content">
            <ul>
              <li>
                <a class="products_block_img bordercolor" href="<%= product_path(featured_product) %>">
                  <img src="<%= featured_product.featured_image(:medium) %>" alt="" title="Christine Instyle camisole &amp; tap pant" width="180" />
                </a>
                <div>
                  <h5><a class="product_link" href="<%= product_path(featured_product) %>" title="Christine Instyle camisole &amp; tap pant"><%= featured_product.name %></a></h5>
                  <span class="pricecolor price-discount"><%= number_to_currency featured_product.price_range.last + 50 %></span>
                  <span class="pricecolor price"><%= number_to_currency featured_product.price_range.last %></span>
                </div>
              </li>
            </ul>
            <a class="button_large" href="<%= product_path(featured_product) %>" title="View">View</a>
          </div>
        </div>
      <% end %>
    </div>
  </aside>
</div>
