<li>
  <div id='image_for_cart'>
    <%= image_tag items.first.variant.product.featured_image(:original) %>
  </div>
  <div id='name_for_cart'>
    <b>
      <%= link_to items.first.variant.product.name, product_path(items.first.variant.product) %>
    </b>
    <%= items.first.variant.brand_name.blank? ? '' : ['-', items.first.variant.brand_name].join(' ') %><br/>
    <%= items.first.variant.display_stock_status('', '') %>
    <br/><br />
  </div>
  <div>
    <b class="price"><%= number_to_currency items.first.price %></b>
  </div>
  <div id='cart_quantity'>
    <b>Qty. <%= items.size %></b>
  </div>
</li>

