</div>
</header>
<div class="columns clearfix">
  <% content_for :head do -%>
    <%= stylesheet_link_tag 'tables.css' %>
  <% end %>
  <div id='order-wrapper' class='twelve'>
    <div class='seven columns'>
<!-- Breadcrumb -->
      <div class="breadcrumb bgcolor bordercolor">
        <div class="breadcrumb_inner">
          <a href="/" title="return to Home">Home</a>
          <span class="navigation-pipe" >&gt;</span>
          <span class="navigation_page">Order</span>
        </div>
      </div><br />
<!-- /Breadcrumb -->
      <h4>Order Summary</h4>

      <div id='order-items-summary'>
        <% i = 1 %>
        <ul id="order_list" class="bordercolor grid">
          <% @order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
            <%= render :partial => 'order_item', :locals => {:items => items } %>
            <% i += 1 %>
          <% end %>
        </ul>
      </div>
      <ul id='order_address'>
        <li id='first'>
          <h4>Shipping Address</h4>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %><br />
          <%= link_to 'Change address', shopping_addresses_path, :class => 'button tiny green' %>
        </li>
        <li id='last'>
          <h4>Billing Address</h4>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
        </li>
      </ul><br />
      <table class="std order">
        <thead>
          <tr class='odd'>
            <td><h4>Item</h4></td>
            <td><h4>Price:</h4></td>
            <td><h4>Price + Tax</h4></td>
          </tr>
        </thead>
        <% @order.order_items.each do |item| %>
          <tr class='<%= cycle("odd", "")%> '>
            <td><%= item.variant.product.name %></td>
            <td><%= number_to_currency item.price %></td>
            <td><%= number_to_currency item.total %></td>
          </tr>
        <% end %>
        <tr class='odd'>
          <td colspan="2">Sub-total:</td><td><%= number_to_currency @order.sub_total %></td>
        </tr>
        <tr>
          <td colspan="2">Shipping Charges:</td><td><%= number_to_currency @order.shipping_charges %></td>
        </tr>
        <% if @order.coupon_amount > 0.0 %>
          <tr>
            <td colspan="2">Coupon:</td><td><%= number_to_currency @order.coupon_amount %></td>
          </tr>
        <% end %>
        <% if @order.deal_amount && @order.deal_amount > 0.0 %>
          <tr>
            <td colspan="2">Promotion:</td><td><%= number_to_currency @order.deal_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">Tax:</td><td><%= number_to_currency @order.taxed_amount %></td>
        </tr>
        <% if @order.amount_to_credit && @order.amount_to_credit > 0.0 %>
          <tr class='odd'>
            <td colspan="2">Credits:</td>
            <td><%= number_to_currency @order.amount_to_credit %></td>
          </tr>
        <% end %>

        <tfoot>
          <tr class='even'>
            <td colspan="2">Total:</td>
            <td><em><%= number_to_currency @order.credited_total %></em></td>
          </tr>
        </tfoot>
      </table><br />
      <div id='paypal'>
        <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), @order.paypal_url(products_url, payment_notifications_url) %>
      </div>
      <div id='amazon'>
        <%= amazon_pay_form_tag do %>
          <%= hidden_field_tag 'amount', @order.credited_total %>
          <%= hidden_field_tag 'referenceId', @order.id %>
          <%= hidden_field_tag 'description', @order.number %>
          <%= image_submit_tag('http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif') %>
        <% end %>
      </div>
      <div id='custom'>
        <a href='<%= new_shopping_order_path %>' class='button'>Create Order</a>
      </div>
      <div id='internationalcheckout'>
        <a href='#'><img src='/assets/maket/internationalcheckout.jpg' width='150px;'></a>
        <form name="icForm" id="icForm" method="post" action="https://www.internationalcheckout.com/cart.php">

          <% @order.order_items.group_by(&:variant_id).each_with_index do |items, i| %>
            <input type="hidden" name="ItemDescription<%= i+1 %>" value="<%= items[1].first.variant.product.name %>">
            <input type="hidden" name="ItemQuantity<%= i+1 %>" value="<%= items[1].size %>">
            <input type="hidden" name="ItemPrice<%= i+1 %>" value="<%= items[1].first.price %>">
            <input type="hidden" name="ItemImage<%= i+1 %>" value="<%= items[1].first.variant.product.featured_image(:original) %>">
            <input type="hidden" name="ImgHeight<%= i+1 %>" value="100">
            <input type="hidden" name="ImgWidth<%= i+1 %>" value="100">
            <input type="hidden" name="ItemSKU<%= i+1 %>" value="<%= items[1].first.variant.sku %>">
          <% end %>

          <input type="hidden" name="Discount" value="<%= @order.amount_to_credit %>">
          <input type="hidden" name="p" value="theladyem">
        </form>
        <script>
        $("#internationalcheckout a").click(function() {
          document.getElementById('icForm').submit();
        });
        </script>
      </div><br />
    </div>
  </div>
</div>
