</div>
</header>
<div class="columns clearfix">
  <div class="breadcrumb bgcolor bordercolor">
    <div class="breadcrumb_inner">
      <a href="/" title="return to Home">Home</a>
      <span class="navigation-pipe" >&gt;</span>
      <span class="navigation_page">Shipping Method</span>
    </div>
  </div>
  <h1 id="shopping">Pick a Shipping Method</h1>

  <div>
  <%= form_tag(shopping_shipping_method_path(session_order.id), :method => :put) do %>
    <table class="std">
      <thead>
        <tr>
          <td><span>Product</span></td>
          <td><span>Title</span></td>
          <td><span>Qty</span></td>
          <td><span>Cost</span></td>
        </tr>
      </thead>
      <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
        <tbody>
          <% items.each do |item| %>
            <tr>
              <td>
                <a href="#" id='shipping_method'>
                  <%= image_tag(item.variant.product.featured_image(:mini)) %>
                </a>
              </td>
              <td>
                <h5>
                  <a href="#"><%= item.variant.product.name %></a>
                </h5>
              </td>
              <td>
                <span><%= item.quantity %></span>
              </td>
              <td>
                <span><%= item.variant.product.price * item.quantity %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
        <ul class='ten side-nav'>
          <% items.first.shipping_rate_options(session_order.sub_total).each do |rate| %>
            <li>
              <%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %>
              <%= rate.name_rate_min %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <tfoot>
        <tr>
          <td colspan="3"><span>Total:</span></td>
          <td><span>$<%=@order_items.inject(0){|sum, item| sum + item.variant.product.price} %></span></td>
        </tr>
      </tfoot>
    </table>
    <div class='ten clearfix offset-by-two'><br />
      <%= submit_tag 'continue', :class => 'button' %>
    </div><br />
  <% end %>
  </div>
</div>