<h1>Listing emails</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.title %></td>
    <td><%== email.content[0..90] %></td>
    <td><%= link_to 'Show', admin_email_path(email) %></td>
    <td><%= link_to 'Edit', edit_admin_email_path(email) %></td>
    <td><%= link_to 'Destroy', admin_email_path(email), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_admin_email_path %>
