<p id="notice"><%= notice %></p>

<p><%= image_tag @image.photo.url(:large) %></p>
Name: <p><%= @image.photo_file_name %></p>
Size: <p><%= @image.photo_file_size %></p>
Created at: <p><%= @image.created_at %></p>


<%= link_to 'Edit', edit_admin_image_path(@image) %> |
<%= link_to 'Back', admin_images_path %>
