<script type="text/javascript" src="/prestashop_42486/themes/theme538/js/products-comparison.js"></script>
<script type="text/javascript" src="/assets/shopping/cart.js"></script>
</div>
</header>
  <div class="columns clearfix">
    <div id="center_column" class="center_column">
<!-- Breadcrumb -->
      <div class="breadcrumb bgcolor bordercolor">
        <div class="breadcrumb_inner">
        <a href="/" title="return to Home">Home</a>
        <span class="navigation-pipe" >&gt;</span>
        <span class="navigation_page">Products</span>
      </div>
    </div>
<!-- /Breadcrumb -->
    <h1>Products</h1>
    <div class="sortPagiBar clearfix">
      <div class="product_sort">
        <ul class="product_view">
          <li id="product_view_grid"></li>
          <li id="product_view_list" class="current"></li>
        </ul>
      </div>
<!-- /Sort products -->
    </div>
    <ul id="product_list" class="bordercolor list">
      <% @products.each do |product| %>
        <li class="ajax_block_product bordercolor">
          <a href="<%= product_path(product.id) %>" class="product_img_link" title="<%= product.name %>">
            <div id="image-block" class="bordercolor" style="display: table; #position: relative; text-align:center; width: 185px; height: 185px;">
              <div style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; ">
                <div style=" #position: relative; #top: -50%; #left: -50%">
                  <img src="<%= product.featured_image(:original) %>" alt="<%= product.name %>" id='products_img'/>
                </div>
              </div>
            </div>
          </a>
          <div class="center_block" id='price_view'>
            <h3>
              <a class="product_link" href="<%= product_path(product.id) %>" title="<%= product.name %>"><%= product.name %></a>
            </h3>
            <p class="product_desc">
              <a class="product_descr" href="<%= product_path(product.id) %>" title="<%= product.description %>" ><%= product.description.gsub!(/<[^<>]*?>/mi, "") %>
              </a>
            </p>
          </div>
          <div class="right_block bordercolor" id='price_view'>
            <span class="price"><%= number_to_currency product.price_range.last %></span>
            <br />
            <a class="button" href="<%= product_path(product.id) %>" title="View">View</a>
          </div>
        </li>
      <% end %>
      <script>
        (function($) {
          $(function() {
            function createCookie(name,value,days) {
            if (days) {
              var date = new Date();
              date.setTime(date.getTime()+(days*24*60*60*1000));
              var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
          }
          function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
          }
          function eraseCookie(name) {
            createCookie(name,"",-1);
          }
          $('ul.product_view').each(function(i) {
            var cookie = readCookie('tabCookie'+i);
            if (cookie) $(this).find('li').eq(cookie).addClass('current').siblings().removeClass('current')
              .parents('#center_column').find('#product_list').addClass('list').removeClass('grid').eq(cookie).addClass('grid').removeClass('list');
          })
          $('ul.product_view').delegate('li:not(.current)', 'click', function(i) {
            $(this).addClass('current').siblings().removeClass('current')
              .parents('#center_column').find('#product_list').removeClass('grid').addClass('list').eq($(this).index()).addClass('grid').removeClass('list')

                var cookie = readCookie('tabCookie'+i);
            if (cookie) $(this).find('#product_list').eq(cookie).removeClass('grid').addClass('list').siblings().removeClass('list')
            var ulIndex = $('ul.product_view').index($(this).parents('ul.product_view'));
            eraseCookie('tabCookie'+ulIndex);
            createCookie('tabCookie'+ulIndex, $(this).index(), 365);
            })
          })
        })(jQuery)
      </script>
    </ul>
<!-- Pagination -->
    <div id="pagination">
      <%= will_paginate @products %>
      <form action="/products" method="get" id="pagination_form">
        <a class="button_mini" href="javascript:document.getElementById('pagination_form').submit();">Ok</a>
        <label for="nb_item">items:</label>
        <select name="per" id="nb_item">
          <option value="6" <%= 'selected=selected' if params[:per] == '6' %>>6</option>
          <option value="9" <%= 'selected=selected' if params[:per] == '9' %>>9</option>
          <option value="12" <%= 'selected=selected' if params[:per] == '12' %>>12</option>
        </select>
      </form>
    </div>
<!-- /Pagination -->
  </div>
</div>
