  <!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
<link href="/assets/maket/js/jquery/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/maket/js/jquery/plugins/jqzoom/jquery.jqzoom.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/assets/maket/jquery/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/assets/maket/jquery/plugins/jquery.idTabs.js"></script>
<script type="text/javascript" src="/assets/maket/jquery/plugins/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/assets/maket/jquery/plugins/jquery.serialScroll.js"></script>

<script type="text/javascript" src="/assets/maket/themes/theme538/js/product.js"></script>
<script type="text/javascript" src="/assets/maket/jquery/plugins/jqzoom/jquery.jqzoom.js"></script>
<script type="text/javascript" src="/assets/shopping/cart.js"></script>
  </div>
</header>

<div class="columns clearfix">
  <div id="center_column" class="center_column">
    <script type="text/javascript">
    // <![CDATA[
    var jqZoomEnabled = true;

    // Parameters
    var productHasAttributes = false;

    // Images
    var combinationImages = new Array();

    combinationImages[0] = new Array();
          combinationImages[0][0] = 1;
          combinationImages[0][1] = 2;
          combinationImages[0][2] = 3;
          combinationImages[0][3] = 4;
    </script>
<!-- Breadcrumb -->
    <div class="breadcrumb bgcolor bordercolor">
      <div class="breadcrumb_inner">
        <a href="/" title="return to Home">Home</a>
        <span class="navigation-pipe" >&gt;</span>
        <a href="/products" title="return to Home">Products</a>
        <span class="navigation-pipe" >&gt;</span>
        <span class="navigation_page"><%= @product.name %></span>
      </div>
    </div>
<!-- /Breadcrumb -->
    <div id="primary_block" class="clearfix">
    <!-- right infos-->
      <div id="pb-right-column">
<!-- product img-->
        <div id="image-block" class="bordercolor">
          <img src="<%= @product.featured_image(:original) %>" class="jqzoom" alt="<%= @product.featured_image(:original) %>" id="bigpic" width="304" height="304" />
          <img src="<%= @product.featured_image(:original) %>" class="jqzoom" alt="<%= @product.featured_image(:original) %>" id="bigpic2" width="1" height="1" />
        </div>
<!-- thumbnails -->
        <div id="views_block" >
          <span class="view_scroll_spacer">
            <a id="view_scroll_left" class="hidden" title="Other views" href="javascript:{}">Previous</a>
          </span>
          <div id="thumbs_list">
            <ul id="thumbs_list_frame">
              <% @product.images.each_with_index do |image, i| %>
              <li id="thumbnail_<%= i+1 %>" class="<%= 'thumb_last' if i == 3 %>">
                <a href="<%= image.photo.url(:original) %>" rel="other-views" class="thickbox bordercolor" title="">
                  <img id="thumb_<%= i+1 %>" src="<%= image.photo.url(:original) %>" alt="" height="80" width="80" />
                </a>
              </li>
            <% end %>
            </ul>
          </div>
          <a id="view_scroll_right" title="Other views" href="javascript:{}">Next</a>
        </div>
<!-- usefull links-->
      </div>
<!-- left infos-->
      <div id="pb-left-column">
        <h1><%= @product.name %></h1>
        <!-- add to cart form-->
<!-- prices -->
        <div id='buy_block' class='bordercolor'>
          <div class="price bordercolor" >
            <span class="our_price_display bordercolor">
              <span id="our_price_display" class="pricecolor">
                <h1><%= number_to_currency @product.active_variants.first.price %></h1>
              </span>
            </span>
            <div class='quantity'>
              <%= form_for  @cart_item, :url  => shopping_cart_items_path(@cart_item),
                                        :html => { :id => 'new_cart_item' } do |f| %>
                <%= f.hidden_field :variant_id %>
                Quantity:
                  <%= f.select :quantity, [1,2,3,4,5,6], {:include_blank => true}, {:class => 'one'} %>
              <% end %>
            </div>
            <div class='add_to_cart_wrapper' id='product'>
              <% unless @product.active_variants.empty? %>
                <%= link_to "Add to Cart", product_path(@product.id, :quantity => @cart_item.quantity,
                                                                     :variant_id => @cart_item.variant_id),
                                                                     :remote => true,
                                                                     :class => 'button' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div id="short_description_block" class="bordercolor">
          <div id="short_description_content" class="rte align_justify">
            <p><%== @product.description %></p>
          </div>
          <p class="buttons_bottom_block">
            <a href="javascript:{}" class="button">More details</a>
          </p>
<!--[if !IE]> -->
          <div class="share bordercolor">
            <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5129de45024e4e78"></script>
          </div>
<!-- <![endif]-->
        <div class="clearblock"></div>
    </div>
        <!-- hidden datas -->
  </div>
</div>
<!-- description and features -->
<div id="more_info_block">
  <ul id="more_info_tabs" class="idTabs idTabsShort ">
    <li>
      <a href="#idTab1">Description</a>
    </li>
    <li>
      <a href="#idTab2">Data sheet</a>
    </li>
  </ul>
  <div id="more_info_sheets" class="bordercolor bgcolor">
      <!-- full description -->
    <div id="idTab1">
      <div>
        <%== @product.description %>
      </div>
    </div>
        <!-- product's features -->
    <ul id="idTab2" class="bullet">
      <% @product.active_variants.each_with_index do |var, i| %>
        <div id='variant_properties_<%= var.id %>' class='variant_properties <%= 'selected' if i == 0 %>'>
          <ul>
            <% var.variant_properties.each do |prop| %>
              <li><label><%= prop.property_name %>:</label>  <%= prop.description %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>
</div>
</div>
</div>
</body>
</html>
