 <head>
  <link rel="stylesheet" href="/assets/maket/default.css" type="text/css" />
 </head>

 <body>
</div>
</header>
<div class="columns clearfix">
<div id="rt-main" class="mb9-sa3">
  <div class="rt-container">
    <div class="rt-grid-9 ">
      <div class="rt-block">
        <div id="rt-mainbody-custom">
          <div class="component-content">
            <div class="mws-section">
              <div class="mws-content">
                <h1 class="vm-title">When you are already registered, please login directly here</h1>
                <div class="vm-login-form">
                  <div class="spacer">
                    <%= form_for  @user_session, :as => :user_session,
                                                 :url => user_sessions_path(@user_session),
                                                 :html => {:class => 'span-12'} do |form| %>
                      <fieldset>
                      <div class="first-row">
                        <div class="username" id="com-form-login-username">
                          <%= form.email_field :email, :class=> "input-xlarge",:autocomplete => 'off', :autocapitalize => 'off', :placeholder => "Email" %>
                        </div>
                        <div class="password" id="com-form-login-password">
                          <%= form.password_field :password, :class=> "input-xlarge", :autocomplete => 'off', :autocapitalize => 'off', :placeholder => "********" %>
                        </div>
                        <div class="login" id="com-form-login-remember">
                          <%= form.submit "Log In", :class => 'button' %>
                          <span class="remember-me">
                            <label for="remember">Remember me</label>
                            <input type="checkbox" id="remember" name="remember" class="inputbox" value="yes" alt="Remember Me" />
                          </span>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <ul class="user-actions">
                        <li><%= link_to 'forgot password?', new_customer_password_reset_path() %></li>
                      </ul>
                    </fieldset>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
            <div class="mws-section">
              <div class="mws-content">
                <h1 class="vm-title">Create new account</h1>
                <%= form_for @user, :url => customer_registrations_path(@user)  do |form| %>
                  <fieldset>
                    <div class="spacer">
                      <span class="section-step">Fill in those fields to create an account</span>
                      <div class="form-section">
                        <span class="grouped">
                          <span class="titles">
                            First Name
                          </span>
                          <span class="values">
                            <%= form.text_field :first_name, :class=> "account_input" %>
                          </span>
                        </span>
                        <span class="grouped">
                          <span class="titles">
                            Last Name
                          </span>
                          <span class="values">
                            <%= form.text_field :last_name , :class=> "account_input" %>
                          </span>
                        </span>
                        <span class="grouped">
                          <span class="titles">
                            Email
                          </span>
                          <span class="values">
                            <%= form.email_field :email, :class=> "account_input", :autocomplete => 'off', :autocapitalize => 'off' %>
                          </span>
                        </span>
                        <span class="grouped">
                          <span class="titles">
                            Password
                          </span>
                          <span class="values">
                            <%= form.password_field :password, :class=> "account_input", :autocomplete => 'off', :autocapitalize => 'off' %>
                          </span>
                        </span>
                        <span class="grouped">
                          <span class="titles">
                            Password Confirmation
                          </span>
                          <span class="values">
                            <%= form.password_field :password_confirmation, :class=> "account_input", :autocomplete => 'off', :autocapitalize => 'off' %>
                          </span>
                        </span>
                      </div>
                      <%= form.submit "Register", :class => 'button' %>
                    </div>
                  </fieldset><br />
                <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
