<div class="mws-section">
  <div class="mws-content">
    <h1 class="vm-title">Add new address</h1>
      <fieldset>
        <div class="spacer">
          <span class="section-step">Fill in those fields to create an address</span>
          <div class="form-section">
            <span class="grouped">
              <span class="titles">
                First Name
              </span>
              <span class="values">
                <%= f.text_field :first_name %>
              </span>
            </span>
            <span class="grouped">
              <span class="titles">
                Last Name
              </span>
              <span class="values">
                <%= f.text_field :last_name %>
              </span>
            </span>
            <span class="grouped">
              <span class="titles">
                Address 2
              </span>
              <span class="values">
                <%= f.text_field :address1 %>
              </span>
            </span>
            <span class="grouped">
              <span class="titles">
                Address 1
              </span>
              <span class="values">
                <%= f.text_field :address2 %>
              </span>
            </span>
            <span class="grouped">
              <span class="titles">
                City
              </span>
              <span class="values">
                <%= f.text_field :city %>
              </span>
            </span>
            <% if nil %>
              <span class="grouped">
                <span class="titles">
                  State Name
                </span>
                <span class="values">
                  <%= f.text_field :state_name %>
                </span>
              </span>
            <% end %>
            <% if Settings.require_state_in_address %>
              <span class="grouped">
                <span class="titles">
                  State/Province
                </span>
                <span class="values">
                  <%= f.select :state_id, @states, :include_blank => true %>
                </span>
              </span>
            <% elsif countries.size == 1 %>
              <span class="grouped">
                <span class="titles">
                  Country
                </span>
                <span class="values">
                  <%= countries.first.name %>
                  <%= f.hidden_field :country_id %>
                </span>
              </span>
            <% else %>
              <span class="grouped">
                <span class="titles">
                  Country
                </span>
                <span class="values">
                  <%= f.select :country_id, select_countries, :include_blank => true %>
                </span>
              </span>
            <% end %>
            <span class="grouped">
              <span class="titles">
                Zip Code
              </span>
              <span class="values">
                <%= f.text_field :zip_code %>
              </span>
            </span>
          </div>
          <div class="field twelve column" style='margin-bottom:10px;'>
            <%= f.check_box :default, :class => 'columns' %>
            <%= f.label :default, "Make this my default shipping method", :class => 'ten ', :style => 'margin-top:3px;' %>
          </div>
          <%= f.submit "Add Address", :class => 'button' %>
        </div>
      </fieldset><br />
  </div>
</div>
<div class='clearfix'></div>
