<!DOCTYPE html>
<html>
<head>
  <title>
    <%= site_name %>: <%= yield :title %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <%= stylesheet_link_tag "foundation" %>
  <%= stylesheet_link_tag 'site/app.css' %>
  <%= stylesheet_link_tag 'global.css' %>

    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <!--[if lt IE 7]
      <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "foundation" %>
  <%#, :cache => 'all_1' %>
  <%= yield :head %>

</head>
<body id="index">
<!--[if lt IE 8]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
<div id="wrapper1">
  <div id="wrapper2">
    <div id="wrapper3">
      <!-- Header -->
      <div id="header">
        <a id="header_logo" href="http://monica.dvporg.com" title="Lingerie">
          <img class="logo" src="http://livedemo00.template-help.com/prestashop_38102/themes/theme315/img/logo.png?1330335444" alt="Lingerie" />
        </a>
        <div id="header_right">
          <!-- Block user information module HEADER -->
          <div id="header_user">
            <ul>
            <li><a href="/"><img src="/assets/menu/home1.png" width="50" height="50"></a></li>
            <li><a href=<%= shopping_cart_items_path %>><img src="/assets/menu/shopcartdown.png" width="50" height="50"></a></li>
            <% if current_user %>
              <li><a href=<%= myaccount_overview_path %>><img src="/assets/menu/user.png" width="50" height="50"></a></li>
              <li><a href=<%= wish_items_path %>><img src="/assets/menu/aqua_smooth_folder_clock.png" width="50" height="50"></a></li>
              <li><a href="/logout"><img src="/assets/menu/application_exit.png" width="50" height="50"></a></li>
            <% else %>
              <li><a href="/login"><img src="/assets/menu/preferences_system_login.png" width="50" height="50"></a></li>
            <% end %>
            </ul>
          </div>
          <div class="clearblock"></div>
          <ul id="tmheaderlinks">
            <%= render :partial => '/shared/welcome_header'%>
          </ul>
        </div>
      </div>
      <div>
        <% if notice || alert %>
          <div class="row">
            <%= raw "<p class='flash_notice'> #{notice}</p>"  if notice %>
            <%= raw "<p class='flash_error'>#{alert}</p>"     if alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<div id="footer_wrapper">
  <div id="footer">
    <%= render 'shared/main_footer' %>
    <%= yield :bottom %>
  </div>
</div>
</body>
  <%= yield :below_body %>
</html>
